* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url("../assets/Backgrounds/mainbg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  padding: 0 40px;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}
.main-content img {
  max-width: 30rem;
}
.main-content-text {
  text-align: center;
  margin-top: -120px;
}
.nav-link {
  color: #b6b6b6 !important;
  margin-left: 30px;
  font-family: "League Spartan", sans-serif;
}
.nav-link:hover {
  color: #fff !important;
  text-shadow: 0 0 5px rgb(133, 255, 153);
}
.main-content-text h1 {
  font-size: 6rem;
  background: #a7cb83;
  background: linear-gradient(to right, #a7cb83 22%, #cd8a67 65%, #f59671 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 70px #000;
  font-family: "Noto Serif", serif;
}
.main-content-text p {
  color: rgba(202, 202, 202, 0.832);
  font-weight: 400;
  font-family: "League Spartan", sans-serif;
  font-size: 1.1rem;
}
.download {
  text-decoration: none;
  border: 1px solid #f0f0f0;
  padding: 8px 30px;
  border-radius: 25px;
  color: #fff;
}
.download:hover {
  transition: 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.178);
  color: rgba(255, 255, 255, 0.733);
}
.social-media {
  position: absolute;
  top: 20%;
  left: 20%;
}
.social-media a {
  display: block;
  margin: 50px;
}
.social-media a i {
  font-size: 1.8rem;
  color: #f0f0f052;
}
.social-media a i:hover {
  transition: 0.3s ease-in-out;
  color: #fff;
  text-shadow: 0 0 5px rgb(133, 255, 153);

}
.middle {
  z-index: 999;
  position: fixed;
  top: 50%;
  right: 0;
  margin-right: 20px;
  transform: translate(-50%, -50%);
}
.mouse {
  margin-left: 0;
  width: 20px;
  height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.555);
  border-radius: 60px;
  margin-bottom: 10px;
}
.mouse::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 10px;
  background: rgba(255, 255, 255, 0.555);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}
.middle span {
  font-family: "Play", sans-serif;
  color: rgba(255, 255, 255, 0.555);
  font-size: 13px;
}

#aboutme {
  background-image: url("../assets/Backgrounds/aboutbg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aboutme img {
  margin-left: 50px;
}
#aboutme h1 {
  font-weight: 900;
  background: #a7cb83;
  background: linear-gradient(to right, #a7cb83 10%, #cd8a67 65%, #f59671 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 80px #000;
  font-size: 2.1rem;
  font-family: "Patua One", cursive;
  margin-bottom: 20px;
}
#aboutme h2 {
  font-size: 1.4rem;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.345);
  font-family: "Volkhov", serif;
}
#aboutme p {
  width: 550px;
  font-size: 1.1rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  color: #fff;
}
.about-me-content .viewHobbies img {
  width: 80px;
  position: absolute;
  margin-top: 33px;
  animation: toright 1s infinite alternate-reverse;
}
@keyframes toright {
  from {
    margin-left: 5px;
  }
  to {
    margin-left: 15px;
  }
}
.about-me-content .viewHobbies button {
  background-color: #db7f5b;
  border: none;
  border-radius: 50%;
  padding: 15px;
  height: 80px;
  width: 80px;
  font-size: 14px;
  margin-left: 100px;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.2s;
  color: #fff;
}
.about-me-content .viewHobbies button:hover {
  background-color: #f5967193;
  transition: 0.3s ease-in-out;
}


/* SKILLS */
#skills {
  background-image: url("../assets/Backgrounds/skillsbg.jpg");
  height: 120vh;
  width: 100%;
  padding-bottom: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#skills .inner-skills{
  text-align: center;
}

#skills .inner-skills h2{
  font-size: 1.4rem;
  margin-bottom: 30px;
  padding-top: 2rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.345);
  font-family: "Volkhov", serif;
}
#skills .inner-skills h1{
  font-weight: 900;
  background: #a7cb83;
  background: linear-gradient(to right, #a7cb83 40%, #cd8a67 60%, #f59671 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 80px #000;
  font-size: 2.1rem;
  font-family: "Patua One", cursive;
  margin-bottom: 20px;
  
}
.cards-skills{
  width: 170px;
  height: 160px;
  display: inline-block;
  position: relative;
  background-color: #83a5603c;
  padding: 30px 0;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0px 15px 15px #242b1d94;
}

.cards-skills h3{
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #A7CB83;
  text-shadow: 0 0 2px #000;
}
.cards-skills ul{
  list-style: none;
  padding: 20px;
  margin-left: 35px;
}

.cards-skills ul li{
  text-align: start;
  margin-bottom: 12px;
  text-shadow: 0 0 2px #000;
  color: #fff;
}
.cards-skills img{
  width: 70px;
  margin-bottom: 10px;
}

.cards-skills ul li i{
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  color: #A7CB83;
  text-shadow: 0 0 0 #000;
}


#hireme{
  background-image: url("../assets/Backgrounds/hireme.png");
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 35vh;
}

#hireme .inner-hireme{
  text-align: center;
  position: relative;
  top: 20%;
  color: #fff;
}
#hireme .inner-hireme a{
  font-weight: 300;
  background-color: #d8674d;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  transition: .3s;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
  font-family: 'Patua One', cursive;
}
#hireme .inner-hireme a:hover{
  padding: 10px 60px;
}
.projectbtn::before{
  content: "with 5.0 FB Page Ratings and Good Reviews";
  position: absolute;
  text-align: center;
  margin-top: -30px;
  margin-left: 130px;;
  color: #fff;
  background-color: #ff3e3e;
  padding: 0 10px;
  font-size: 0.8rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.501);
}
.custom-container{
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#project{
  background-image: url("../assets/Backgrounds/skillsbg.jpg");
  height: auto;
  width: 100%;
  padding-bottom: 7rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.inner-project{
  text-align: center;
  position: relative;
  padding-top: 6rem;
}

#project .inner-project h2{
  font-size: 1.4rem;
  margin-bottom: 30px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.345);
  font-family: "Volkhov", serif;
}
#project .inner-project h1{
  font-weight: 900;
  background: #a7cb83;
  background: linear-gradient(to right, #a7cb83 40%, #cd8a67 60%, #f59671 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 80px #000;
  font-size: 2.1rem;
  font-family: "Patua One", cursive;
  
}
.outer-project-card{
  margin-top: 3rem;
}
.proj-card{
    width: 300px;
    height: 300px;
    position: relative;
    display: inline-block;
    background-color: #83a5603c;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #242b1d94;
    overflow: hidden;
    margin-right: 30px;
    margin-top: 1rem;
}
.proj-card p{
  text-align: start;
}
.proj-card:hover .proj-content{
  bottom: 0;

}
.proj-content{
  position: absolute;
  bottom: 0;
  padding: 10px 10px 30px 20px;
  background-color: rgba(0, 0, 0, 0.767);
  transition: 0.3s ease-in-out;
  width: 100%;
  color: #fff;
  bottom: -100%;
}
.softy{
  background-image: url("../assets/Others/softybg.png");
  background-position: center;
  background-size:35vw 40vh;
}
.hilo{
  background-image: url("../assets/Others/hilogame.png");
  background-position: center;
  background-size:35vw 40vh;
}
.ai{
  background-image: url("../assets/Others/aibg.png");
  background-position: center;
  background-size:17vw 32vh;
}
.overcome{
  background-image: url("../assets/Others/overcomebg.png");
  background-position: center;
  background-size:35vw 40vh;
}
.alcohol{
  background-image: url("../assets/Others/alcoholbg.png");
  background-position: center;
  background-size:17vw 32vh;
}
.teaser{
  background-image: url("../assets/Others/teaserbg.PNG");
  background-position: center;
  background-size:15vw 40vh;
}
.gobebo{
  background-image: url("../assets/Others/gobebobg.png");
  background-position: center;
  background-size:30vw 40vh;
}
.proj-content a{
  text-decoration: none;
  background-color: #A7CB83;
  color: #fff;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.proj-content a:hover{
  color: #fff;
  background-color: #a7cb83da;
}



/* Certificates */
#certificates{
  background-image: url("../assets/Backgrounds/certificates.jpg");
  height: auto;
  width: 100%;
  padding-bottom: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#certificates .inner-cert{
  padding-top: 5rem;
  text-align: center;
}
#certificates .inner-cert h2{
  font-size: 1.4rem;
  margin-bottom: 30px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.345);
  font-family: "Volkhov", serif;
}
#certificates .inner-cert h1{
  font-weight: 900;
  background: #a7cb83;
  background: linear-gradient(to right, #a7cb83 40%, #cd8a67 60%, #f59671 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 80px #000;
  font-size: 2.1rem;
  font-family: "Patua One", cursive;
  
}
.gallery{
  margin-top: 80px;
  text-align: center;

  
}
.gallery img{
  transition: 1s;
  margin: 10px;
  width: 320px;
  filter: grayscale(100%);
  border-radius: 10px;
}
.gallery img:hover{
  filter: grayscale(0%);
  transform: scale(1.1);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.577);
}




/* Experience */
#experience{
  background-image: url("../assets/Backgrounds/skillsbg.jpg");
  height: auto;
  width: 100%;
  padding-bottom: 6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#experience .inner-exp{
  text-align: center;
  padding-top: 5rem;
}

#experience .inner-exp h2{
  font-size: 1.4rem;
  margin-bottom: 30px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.345);
  font-family: "Volkhov", serif;
}
#experience .inner-exp h1{
  font-weight: 900;
  background: #a7cb83;
  background: linear-gradient(to right, #a7cb83 40%, #cd8a67 60%, #f59671 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 80px #000;
  font-size: 2.1rem;
  font-family: "Patua One", cursive;
  
}

.showsamples{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.501);
  position: fixed;
  z-index: 9999;
  top: 0;
  display: none;
  transition: .2s ease-in-out;

}

.exp-card{
  width: 400px;
  height: 450px;
  position: relative;
  display: inline-block;
  background-color: #83a5603c;
  padding: 30px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #242b1d94;
  text-align: center;
  color: #fff;
}
.exp-card h3{
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #A7CB83;
  text-shadow: 0 0 8px #000;
}
.exp-card h4{
  font-size: 1rem;
  margin-top: 20px;
  color: #e7e5e5;
  text-shadow: 0 0 8px #000;
}
.exp-card ul{
  list-style: none;
  padding: 20px;
  margin-left: 35px;

  
  
}
.exp-card ul li{
  text-align: start;
  margin-bottom: 12px;
  text-shadow: 0 0 5px #000;

}


.exp-card ul li i{
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  color: #A7CB83;
  text-shadow: 0 0 0 #000;
}
#sampleExpWork{
  background-color: #5e7c3f;
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  transition: .2s ease-in-out;
  color: #fff;
  font-weight: 600;
}

#sampleExpWork:hover{
  background-color: #8cb860;
}
#services{
  background-image: url("../assets/Backgrounds/certificates.jpg");
  height: auto;
  width: 100%;
  padding-bottom: 6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}
#services h1 {
  font-weight: 900;
  background: #a7cb83;
  background: linear-gradient(to right, #a7cb83 40%, #cd8a67 55%, #f59671 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 80px #000;
  font-size: 2.1rem;
  font-family: "Patua One", cursive;
  margin-bottom: 20px;
  text-align: center;
}
#services h2 {
  font-size: 1.4rem;
  margin-bottom: 30px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.345);
  font-family: "Volkhov", serif;
  text-align: center;
}
#services .services--cards{
  width: 300px;
  height: auto;
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
  transition: .3s ease-out;
  color: #fff;

}
#services .services--cards img{
  width: 60px;
  margin-bottom: 20px;
}
#services .services--cards .services--title{
  margin-bottom: 20px;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  letter-spacing: 1.1px;
}
#services .services--cards:hover{
background-color: #1f3216;
border-bottom: 5px solid #ff876d;
}
#services p{
  font-size: 1.1rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  color: #fff;
}

#services .statistics{
  width: 60%;
  margin: 0 auto;
}

#services .statistics .statflex{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

#services .statistics .titleStat{
  font-weight: 900;
  background: #a7cb83;
  background: linear-gradient(to right, #a7cb83 2%, #cd8a67 35%, #f59671 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 80px #000;
  font-size: 3.1rem;
  font-family: "Patua One", cursive;
}
#services .statistics p{
  font-weight: 600;
  letter-spacing: 2px;
}



/* Contact */
#contact{
  background-image: url("../assets/Backgrounds/certificates.jpg");
  height: auto;
  width: 100%;
  padding-bottom: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.inner-contact{
 text-align: center; 
 padding-top: 6rem;
}
.contact-form{
  text-align: center;
  display: flex;
  justify-content: center;
}
.contact-form h5{
  font-family: "Patua One", cursive;
}
form{
  padding: 0 50px;
  width: 50%;
  height: auto;
  position: relative;
  top: 5%;
  border-radius: 5px;
  background-color: #5d7c3f81;
  padding-bottom: 30px;
}
form h5{
  padding-top: 50px;
  color: #fff;

}
form p{
  color: #fff;

}

input[type="email"],input[type="text"]{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  outline: none;
  border: none;

}
input[type="email"]:focus, textarea:focus,input[type="text"]:focus{
  box-shadow: 0 0 5px #9cdb59;

}
input[type="button"]{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  outline: none;
  border: none;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-family: "League Spartan", sans-serif;
}

input[type="button"]:hover{
  background-color: #8cb860;
  box-shadow: 0 0 5px #8cb860;

}
textarea{
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-top: 30px;
  outline: none;
  border: none;
  resize: none;

}
form a{
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  margin: 1rem;
  transition: 0.3s ease-in-out;
}
form a:hover{
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
#contact .inner-contact h2{
  font-size: 1.4rem;
  margin-bottom: 30px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.345);
  font-family: "Volkhov", serif;
}
#contact .inner-contact h1{
  font-weight: 900;
  background: #a7cb83;
  background: linear-gradient(to right, #a7cb83 40%, #cd8a67 60%, #f59671 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 80px #000;
  font-size: 2.1rem;
  font-family: "Patua One", cursive;
  
}



#footer{
  background-image: url("../assets/Backgrounds/footer_try.png");
  height: 20vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -30px;
}

#footer p{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.project-demo{
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;

}
.project-demo .image-overlay{
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-demo .image-overlay .projtitle{
  color: #9cdb59;
  text-shadow: 0 0 3px #fff;
  font-size: 1.1rem;
  font-weight: 600;
}
.project-demo img{
  width: 100%;
  height: 20vh;
}

.image-overlay:hover{
  opacity: 0;
}
.projectbtn{
  text-align: center; margin-top: 5rem;
}
.projectbtn a{
  font-weight: 300;
  background-color: #d8674d;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  transition: .3s;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
  font-family: 'Patua One', cursive;
  transition: .3s ease-out;
}
.projectbtn a:hover{
  color: #fff;
  background-color: #eb745a;
  padding: 10px 60px;


}
.project-demo .project-header{
  position: absolute;
  margin: 20px;
  background-color: #9cdb59;
  border-radius: 15px;
  padding: 5px 15px;
  z-index: 10;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}
.project-usedstack{
  width: 100%;
  position: absolute;
  margin: 10px 2px;
  border-radius: 15px;
  padding: 5px 15px;
  z-index: 10;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}
.latestproj{
  top: 15%;
}
.project-usedstack .stacks{
  border-radius: 20px;
  background-color: rgb(34, 37, 40);
  color: #fff;
  padding: 8px;
  font-size: 10px;
}
.project-usedstack .php{
  background-color: rgb(19, 79, 176);
}
.project-usedstack .mysql{
  background-color: rgb(176, 77, 19);
}
.project-usedstack .jquery{
  background-color: rgb(16, 20, 85);
}
.project-usedstack .shopify{
  background-color: rgb(34, 185, 66);
}
.project-usedstack .wordpress{
  background-color: rgb(34, 74, 139);
}
.project-usedstack .unity{
  background-color: rgb(44, 46, 49);
}
.project-usedstack .csharp{
  background-color: rgb(128, 25, 44);
}
.project-usedstack .html{
  background-color: rgb(220, 124, 7);
}
.project-usedstack .css{
  background-color: rgb(40, 111, 244);
}
@media all and (min-width: 100px) and (max-width: 992px) {
  form{
    width: 100%;
    padding: 0 5px;
    padding-bottom: 30px;
    background-color: transparent;

  }
  #footer p{
    text-align: center;

  }

  .main-content img {
    min-width: 20vw;
    overflow: hidden;
  }

  .navbar {
    padding: 0 10px;
  }
  .collapse {
    background-color: #13160f88;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .nav-link {
    margin-left: 0;
  }
  li:last-child {
    margin-bottom: 20px;
  }
  .main-content-text h1 {
    font-size: 3rem;
  }
  .main-content-text p {
    font-size: 0.9rem;
  }
  .social-media {
    left: 5%;
  }
  .social-media a i {
    font-size: 1.3rem;
  }
  .middle {
    top: 95%;
    right: 45%;
    margin: 0;
    position: absolute;
  }
  #aboutme {
    display: block;
    height: auto;
    background-size: cover;
    padding-bottom: 6rem;
    overflow: hidden;
  }
  #aboutme img {
    width: 18rem;
  }
  .about-me-content {
    text-align: center;
    padding: 0 15px;
  }
  #aboutme p {
    width: auto;
  }
  .about-me-content .viewHobbies img {
    display: none;
  }
  .about-me-content .viewHobbies button {
    margin-left: 0;
  }

  .cards-skills{
    width: 300px;
  }
  #skills{
    height: auto;
    padding: 0 10px;
    padding-bottom: 6rem;
    overflow: hidden;
  }
  #skills .inner-skills h1{
    padding: 0 1.3rem;
  }
  #hireme{
    padding: 0 30px;
    height: 35vh;
    background-size: 100vw 35vh;

  }
  #project{
    height: auto;
    padding: 6rem 10px;
    overflow: hidden;
  }
  #services{
    height: auto;
    padding: 0 10px;
    padding-bottom: 6rem;
    padding-top: 90px;
    overflow: hidden;
  }
  #services .statistics .statflex{
    flex-direction: column;
    text-align: center;
  }
  #services .services--cards{
    text-align: center;
  }


  .proj-card{
    text-align: start;
    margin-left: 25px;
  }
  .outer-project-card{
    text-align: center;
  }
  
  
.softy{
  background-size:100vw 35vh;
}
.hilo{
  background-image: url("../assets/Others/hilogame.png");
  background-position: center;
  background-size:100vw 40vh;
}
.ai{
  background-image: url("../assets/Others/aibg.png");
  background-position: center;
  background-size:100vw 37vh;
}
.overcome{
  background-image: url("../assets/Others/overcomebg.png");
  background-position: center;
  background-size:100vw 40vh;
}
.alcohol{
  background-image: url("../assets/Others/alcoholbg.png");
  background-position: center;
  background-size:100vw 38vh;
}
.teaser{
  background-image: url("../assets/Others/teaserbg.PNG");
  background-position: center;
  background-size:100vw 40vh;
}
.gobebo{
  background-image: url("../assets/Others/gobebobg.png");
  background-position: center;
  background-size:100vw 40vh;
}
  #certificates{
    height: auto;
    padding-bottom: 6rem;
    overflow: hidden;
  }
  .exp-card{
    width: 340px;
  }
  #experience{
    height: auto;
    padding-bottom: 6rem;
    overflow: hidden;
  }
}
